# Manipulación de datos

In [1]:
import pandas as pd

In [8]:
dataset = pd.read_csv("sample_data/california_housing_train.csv")
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

## Agregar una columna

In [13]:
dataset["population2"] = dataset["population"].apply(lambda x: x * 2)

In [14]:
dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,population2
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,2030.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,2258.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,666.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,1030.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,1248.0
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,1814.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,2388.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,2488.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,2596.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,1612.0

## Eliminar una columna

In [15]:
dataset.drop("population2", axis=1, inplace=True)

In [16]:
dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

## Obteniendo una muestra del dataset

In [17]:
dataset80 = dataset.sample(frac=0.8)
dataset80

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
9038,-118.97,35.40,34.0,1859.0,323.0,854.0,309.0,3.1906,76200.0
6439,-118.27,34.22,34.0,8206.0,1186.0,3141.0,1150.0,7.2812,462200.0
13601,-121.98,37.96,12.0,5048.0,1122.0,2209.0,1014.0,3.1573,126700.0
11894,-121.36,38.63,28.0,6119.0,985.0,2631.0,934.0,4.8750,146400.0
15248,-122.27,37.53,43.0,1145.0,230.0,586.0,254.0,3.5000,267400.0
...,...,...,...,...,...,...,...,...,...
1834,-117.27,33.93,2.0,337.0,55.0,115.0,49.0,3.1042,164800.0
16495,-122.63,38.22,17.0,2652.0,342.0,1199.0,350.0,5.5650,267100.0
802,-117.07,33.13,33.0,555.0,165.0,612.0,176.0,2.1786,137500.0
5489,-118.16,33.84,36.0,2220.0,367.0,1002.0,351.0,5.0719,219500.0
1767,-117.25,32.75,36.0,1929.0,526.0,974.0,491.0,1.7622,205800.0